//Header
.main-header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    img {
        width: 80px;
        margin: 10px;
    }
    ul.main-menu {
        display: flex;
        list-style: none;
        li {
            margin: 0 15px;
            a {
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
            }
        }
    }
    input {
        color: $black;
        font-weight: 700;
        border: none;
        border-bottom: 2px solid $blue;
        margin-right: 8px;
    }
    i {
        cursor: pointer;
    }
}
